<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>CREATE</h1>
<form method="POST" class="post-form" action="/app1/card">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Card Name:</label>
    <div class="col-sm-4">
      {{ form.cname }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Card Name:</label>
    <div class="col-sm-4">
      {{ form.cstock }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Card Name:</label>
    <div class="col-sm-4">
      {{ form.cprice }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Card Name:</label>
    <div class="col-sm-4">
      {{ form.cpicture }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>