<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>card Records</title>
        <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<h1>INDEX</h1>
<ul class="cards">
    {% for card in cards %}
        <li>
          <a href="/app1/show/{{ card.id }}" class="card">
            <img src="{{ card.cpicture }}" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <div class="card__header-text">
                  <h3 class="card__title">{{ card.cname}}</h3>
                  <span class="card__tagline">Price: {{ card.cprice }} $</span>
                  <span class="card__tagline">Stock: {{ card.cstock }}</span>
                </div>
              </div>
            </div>
          </a>
        </li>
    {% endfor %}
</ul>








<!--{% for card in cards %}
    <tr>
        <td><a href="/app1/show/{{ card.id }}">{{ card.cname }}</a></td>
        <td>{{ card.cstock }}</td>
        <td>{{ card.cprice }}</td>
        <td><img src="{{ card.cpicture }}" alt="" style="height: 50px; width: auto"></td>
        <td><a href="/app1/update/{{ card.id }}">EDIT</a></td>
        <td><a href="/app1/delete/{{ card.id }}">DELETE</a></td>
    </tr>
{% endfor %}-->
<center><a href="/app1/create" class="btn btn-primary">Add New Card</a></center>
</body>
</html>
